{% extends 'base.html' %}
{% block title %}
New component
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h3 class="mb-30">New component</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            {{ form.title }}
            <div class="form-validation">{{ form.title.errors }}</div>
        </div>
        <div>
            <label for="id_description">Description:</label>
            {{ form.description }}
            <div class="form-validation">{{ form.description.errors }}</div>
        </div>
        <div>
            <label for="id_price">Price:</label>
            {{ form.price }}
            <div class="form-validation">{{ form.price.errors }}</div>
        </div>
        <div>
            <label for="id_categories">Categories:</label>
            <select name="categories" id="id_categories" style="display: none;" data-placeholder="Click to select an option..." class="multipleselector" multiple>
                {% for category in level_zero %}
                <option value="{{ category.pk }}" {% if form.fields.categories.value == category.pk %}
                    selected{% endif %}>{{ category }}</option>
                {% include 'categories/snippets/taxcateg-child-form.html' with c=category sufix=">" val=form.fields.categories.value %}
                {% endfor %}
            </select>
            <div class="form-validation">{{ form.categories.errors }}</div>
        </div>
        <div>
            <label for="id_image">Image:</label>
            {{form.image}}
            <div class="form-validation">{{ form.featured.errors }}</div>
        </div>
        <div>
            <label for="id_component">Component:</label>
            {{ form.component }}
            <div class="form-validation">{{ form.component.errors }}</div>
        </div>
        <div>
            <label for="id_featured">Featured:</label>
            {{ form.featured }}
            <div class="form-validation">{{ form.featured.errors }}</div>
        </div>

        <button type="submit" value="submit" class="btn_3">
            Save
        </button>
    </form>
</div>
{% endblock %}