{% extends "base.html" %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <small>{{ object.created_at|timesince }} ago</small>
        <h2>{{ object.title }}</h2>
        <img src="{{ object.image.url }}" width="500">
        <p>{{ object.description|linebreaks }}</p>
    </div>
    <div class="col-12 col-md-6">
        {% include "products/snippets/update-cart.html" with product=object cart=cart %}
    </div>
</div>
{% endblock %}

{% block bottom %}
{% include 'carts/snippets/cart-ajax.html' %}
{% endblock %}