{% extends "base.html" %}

{% block title %}
Products List
{% endblock %}

{% block content %}
<div class="container">

    <div class="tab-content" id="nav-tabContent">
        <!-- card one -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                {% for object in object_list %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    {% include "products/snippets/card.html" with instance=object %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
{% include 'carts/snippets/cart-ajax.html' %}
{% endblock %}