{% extends 'categories/base.html' %}
{% block title %}
Taxonomy of Cognitive RPA components
{% endblock %}

{% block content %}
{% load static %}
{% load category_tags %}
<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h1>Taxonomy of Cognitive RPA components</h1>
    </div>
    <div class="col-md-1">
      <div class="button-group-area">
        <a href="{% url 'taxcategs:export' %}"
          class="genric-btn primary-border">Download</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if not taxcateg_hierarchy %}
      <br>
      <h2 style="color:red;">No taxonomy available</h2>
      {% endif %}
      <center>
        <div id="d3Hierarchy"></div>
      </center>
    </div>
  </div>
</div>
{% endblock %}
{% block bottom %}
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/taxonomy.js' %}"></script>
<script>
{% if taxcateg_hierarchy %}
var taxonomy_data = {{ taxcateg_hierarchy|safe }}
taxonomytree(taxonomy_data);
{% endif %}
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock bottom %}