{% extends 'base.html' %}
{% block title %}
New input format supported
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mb-30">New input format supported</h3>
    {% if request.user.is_authenticated %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <button type="submit" value="submit" class="btn_3">
            Save
        </button>
    </form>
    {% else %}
    <p>To register an input format supported, you must to be logged in</p>
    {% endif %}
</div>
{% endblock %}