{% extends 'base.html' %}
{% block title %}
Taxonomy
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}{% endif %}


<h1>Taxonomy</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<ul>
    {% for c in object_list %}
    <li>{{ c.name }}</li>
    {% empty %}
    <li>No categories yet.</li>
    {% endfor %}
</ul>
{{ categTerms }}
{% endblock %}