{% extends 'base.html' %}
{% block title %}
Create a category term proposal
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mb-30">Register a category term proposal</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">{% csrf_token %}
        <div class="mt-10">
            {{ form.term }}
            <div class="form-validation">{{ form.term.errors }}</div>
        </div>
        <div class="mt-10">
            {{ form.description }}
            <div class="form-validation">{{ form.description.errors }}</div>
        </div>
        <div class="mt-10">
            <div class="input-group-icon mt-10">
                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <div class="form-select" id="default-select">
                    <select id="id_tax_categ" name="tax_categ" required>
                        <option value="" disabled selected>Taxonomy category</option>
                        {% for x, y in form.fields.tax_categ.choices %}
                        <option value="{{ x }}" {% if form.fields.tax_categ.value == x %} selected{% endif %}>
                            {{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-validation">{{ form.tax_categ.errors }}</div>
        </div>
        <div class="mt-10">
            <div class="input-group-icon mt-10">
                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <div class="form-select" id="default-select">
                    <select id="id_knowledge_source" name="knowledge_source" required>
                        <option value="" disabled selected>Knowledge source</option>
                        {% for x, y in form.fields.knowledge_source.choices %}
                        <option value="{{ x }}" {% if form.fields.knowledge_source.value == x %} selected{% endif %}>
                            {{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-validation">{{ form.knowledge_source.errors }}</div>
        </div>
        <div class="input-group-icon mt-10">
            <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
            <div class="form-select" id="default-select">
                <select id="id_formats_supported" name="formats_supported" required>
                    <option value="" disabled selected>Input format supported</option>
                    {% for x, y in form.fields.formats_supported.choices %}
                    <option value="{{ x }}" {% if form.fields.formats_supported.value == x %} selected{% endif %}>
                        {{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-validation">{{ form.formats_supported.errors }}</div>
        <div class="single-element-widget">
            <div class="col-lg-3 col-md-4 mt-sm-30">
                <div class="switch-wrap d-flex justify-content-between">
                    <p>Active</p>
                    <div class="primary-checkbox">
                        {{ form.active }}
                        <label for="id_active"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <button type="submit" value="submit" id="xvxv" class="btn_3">
                Save
            </button>
        </div>
    </form>
</div>
{% endblock %}