{% extends 'categories/base.html' %}
{% block title %}
Taxonomy of Cognitive RPA components
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
<h1>Taxonomy of Cognitive RPA components</h1><br>
    <ul class="unordered-list">
    {% for category in object_list %}
        <li><a href="/categories/detail/{{ category.pk }}/">{{ category }}</a>
        {% include 'categories/snippets/taxcateg-ul.html' with c=category sufix=">"%}
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}