{% load i18n %}

    <div class="col-md-12">
        <address>
            Avenida Reina Mercedes, Escuela Técnica Superior de Ingeniería Informática<br/>
            41012, Sevilla, España<br/>
            <abbr title="Phone">Teléfono</abbr>
            902 42 58 00
        </address>

        <address>
            <ul>
                <li>
                    <strong>{% trans 'Soporte' %}: </strong><a href="mailto:info.daliasoft@gmail.com">soporte@daliasoft.com</a><br/>
                </li>
                <li>
                    <strong>{% trans 'Información' %}: </strong><a href="mailto:info.daliasoft@gmail.com">info@daliasoft.com</a>
                </li>
            </ul>
        </address>
    </div>