{% load i18n %}
{% load static %}

<div class="my-4 pl-4 position-absolute" style="bottom: 0">
    <div>
        <div class="image-footer">
            <a href="http://www.daliasoft.rf.gd/">
                <img class="img-fluid" src="{% static 'img/dalia.jpg' %}" alt="{% trans 'DaliaSoft' %}">
            </a>
        </div>
        <div class="image-footer">
            <a href="http://www.us.es/">
                <img class="img-fluid" style="width: 158px;" src="{% static 'img/us.jpg' %}" alt="{% trans 'US' %}">
            </a>
        </div>
    </div>
    <div class="mt-2 text-center image-footer" style="font-size: 12px;">
        <p>&copy; {% now 'Y' %} DaliaSoft {% trans 'Todos los derechos reservados' %}</p>
    </div>
</div>