{% load i18n %}
{% load static %}

{% if user.is_authenticated %}
    <div class="container-fluid bg-info border border-white">
        <div class="row">
            <div class="col-md-4 text-center pd-0 d-flex align-items-center justify-content-center">
                <a href = "{% url 'user_profile' %}"> <img  src="{% static 'img/user.svg' %}" alt="{% trans 'Usuario img' %}" width="50px" height="50px"></a>
            </div>
            <div class="col-md-8 panel panel-default bold">
                <label class="font-weight-bold pt-2">{{ user.first_name }} {{ user.last_name }}</label>
                <br>
                {% if profile %}
                    <label>{{ profile }}</label>
                {%endif %}
            </div>
        </div>
    </div>
{% endif %}