{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <div class="container-fluid ml-3">
        <form method="post" class="form-horizontal pb-5" id="projectform">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <label for="id_username" class="control-label"><b>{% trans 'Nombre de usuario' %}</b></label>
                <div class="">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_first_name" class="control-label"><b>{% trans 'Nombre' %}</b></label>
                <div class="">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_last_name" class="control-label"><b>{% trans 'Apellido' %}</b></label>
                <div class="">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="form-group">
                <label for="id_email" class="control-label"><b>{% trans 'Dirección de correo' %}</b></label>
                <div class="">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="{% trans 'Guardar' %}" class="btn btn-outline-primary float-left mr-2"/>
            </div>
        </form>
    </div>
{% endblock %}