{% load i18n %}
{% block cookies %}
    <script type="text/javascript" id="cookiebanner"
            src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.0.0/cookiebanner.min.js"
            data-message="{% trans 'Esta web utiliza cookies para ofrecerle una mejor experiencia de uso. Al seguir navegando da su consentimiento para la utilización de las mismas. Para obtener más información acerca de las cookies y cómo deshabilitarlas, por favor visite' %}"
            data-linkmsg="{% trans 'Política de cookies' %}"></script>
{% endblock %}