{% extends "base_generic.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section id="registerForm">
                <form action="" method="post" class="form-horizontal" id="regform">
                    {% csrf_token %}
                    <!--<h4>Use a local account to log in.</h4>
                    <hr />-->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="id_username" class="col-md-3 control-label">{% trans 'Nombre de usuario' %}</label>
                        <div class="col-md-9">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="col-md-3 control-label">{% trans 'Correo electrónico' %}</label>
                        <div class="col-md-9">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_first_name" class="col-md-3 control-label">{% trans 'Nombre' %}</label>
                        <div class="col-md-9">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_last_name" class="col-md-3 control-label">{% trans 'Apellidos' %}</label>
                        <div class="col-md-9">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-md-3 control-label">{% trans 'Contraseña' %}</label>
                        <div class="col-md-9">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-md-3 control-label">{% trans 'Repetir contraseña' %}</label>
                        <div class="col-md-9">
                            {{ form.password2 }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="hidden" name="next" value="/"/>
                            <input type="submit" value="Registrarse" class="btn btn-outline-dark"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
